<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% block title %}
    This is my title
    {% endblock title %}
  </title>

  <style type="text/css">
  body {
    text-align: center;
  }
  #page {
    width: 960px;
    text-align: left;
    margin: 10px auto 20px auto;
    background-color: #0c0c0c;
  }
  #sidebar {
    float: left;
    width: 200px;
    border: 1px solid #000;
  }
  #content {
    float: left;
    width: 600px;
    border: 1px solid #000;
    padding: 10px;
  }

  </style>

</head>


<body>
<div id="page">
  <div id="sidebar">
    {% block sidebar %}
    <ul>
      <li><a href="/articles/all">Articles</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
    {% endblock sidebar %}
  </div>

  <div id="contant">
    {% block content %}
    {% endblock content %}
  </div>
</div>
</body>
</html>